.lmtWIHO_gkbTeeyuvoJC {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Es8downQlxiASDyltHtn *,
.Es8downQlxiASDyltHtn *::before,
.Es8downQlxiASDyltHtn *::after {
  box-sizing: inherit;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
.Es8downQlxiASDyltHtn {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color, rgb(26, 26, 26));
  font-size: 16px;
  font-family: proxima nova, sans-serif;
  line-height: 1.5;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
injected stylesheet :host,
:root {
  --rem: 16;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.Es8downQlxiASDyltHtn *,
.Es8downQlxiASDyltHtn *::before,
.Es8downQlxiASDyltHtn *::after {
  box-sizing: inherit;
}
.Es8downQlxiASDyltHtn *,
.Es8downQlxiASDyltHtn *::before,
.Es8downQlxiASDyltHtn *::after {
  box-sizing: inherit;
}
